<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>buy_commodity</title>
</head>
<body>
    <h2>add_commodity</h2>
    <h3>GET方式</h3>
    <form action="/set_record" method="get" name="set_record">
        <p><span>commodity_id :</span><input type="text" placeholder="commodity_id" name="commodity_id"></p>
        <p><span>quest_person :</span><input type="text" placeholder="quest_person" name="quest_person"></p>
        <p><span>password :</span><input type="text" placeholder="password" name="password"></p>
        <p><span>company :</span><input type="text" placeholder="company" name="company"></p>
        <p><span>date :</span><input type="text" placeholder="date" name="date"></p>
        <input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="add">
    </form>

</body>
</html>
