<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <div>
        <p>二手物交易查詢系統</p>
        <p><a href="/index/">index</a></p>
        <p><a href="/admin/">admin</a></p>
        <p><a href="/set_bank/">set_bank</a></p>
        <p><a href="/set_state/">set_state</a></p>
        <p><a href="/set_company/">set_company</a></p>
        <p><a href="/add_user/">新增使用者</a></p>
        <p><a href="/add_commodity/">增加新商品</a></p>
        <p><a href="/buy_commodity/">買家要求商品</a></p>
    </div>
</body>
</html>
