<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_user</title>
</head>
<body>
    <h2>add_user</h2>
    <h3>GET方式</h3>
    <form action="/set_user" method="get" name="add_user">
        <p><span>name_zh :</span><input type="text" placeholder="name_zh" name="name_zh"></p>
        <p><span>password :</span><input type="text" placeholder="password" name="password"></p>
        <p><span>bank :</span><input type="text" placeholder="bank" name="bank"></p>
        <input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="add">
    </form>

</body>
</html>
