<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_commodity</title>
</head>
<body>
    <h2>add_commodity</h2>
    <h3>GET方式</h3>
    <form action="/set_commodity" method="get" name="add_user">
        <p><span>own_person :</span><input type="text" placeholder="own_person" name="own_person"></p>
        <p><span>password :</span><input type="text" placeholder="password" name="password"></p>
        <p><span>name_zh :</span><input type="text" placeholder="name_zh" name="name_zh"></p>
        <p><span>type :</span><input type="text" placeholder="type" name="type"></p>
        <p><span>describe :</span><input type="text" placeholder="describe" name="describe"></p>
        <p><span>location :</span><input type="text" placeholder="location" name="location"></p>
        <input type="reset">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="add">
        <p><a href="/index/">index</a></p>
    </form>

</body>
</html>
